# Default values for nfs-server.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image: gcr.io/google-samples/nfs-server:1.1
imagePullPolicy: IfNotPresent
serviceType: ClusterIP

mount_options: ""
storage: 1000T
persistentVolumeReclaimPolicy: Retain

persistence:
  enabled: false
  hostPath: /tmp/nfs-onedata

# The generalization of nodeSelector.
# Allows for more fine grained controls over which
# nodes are selected by a kubernetes scheduler
# https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

# List of taints which are tolerated by the pods 
# when nodes are selected by a kubernetes scheduler
# https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: {}

# Specify a map of key-value pairs. For the pod 
# to be eligible to run on a node, the node 
# must have each of the indicated key-value pairs as labels
# https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector
nodeSelector: {}